form,p,div{
    text-align: center;
}

#p-title,#p-num{
    margin:10px auto;
}

.p-bottom{
    width:429px;
    height:30px;
    line-height:30px;
    margin:0 auto;
    margin-top:-40px;
    background:#ccc;
    opacity:0.5;
}