/*运动div的position是absolute*/

ul{
    padding:0px;
    margin:0px;
    height:170px;
    position: relative;
    overflow: hidden;
}

li{
    position:relative;
    list-style-type:none;
    /*display: inline-block;*/
    float:left;
    width:120px;
    height:170px;
   /* width:72px;*/
}

div{
    position: absolute;
    heigth:340px;
    top:0px;}
img{
    width: 120px;
    height: 170px;
    vertical-align: top;
}
